.answer {
  color: red;
}

.correct {
  color: white;
}

h1 {
  font-size: 32px;
  font-family: "Times New Roman", sans-serif;
}

mat-card {
  width: 40rem;
  background-color: blue;
  color: #eee;
}

mat-card-title {
  font-size: 32px;
  font-family: "Times New Roman", cursive, sans-serif;
  background-color: blue;
}

mat-card-subtitle {
  background-color: blue;
  color: #eee;
}

mat-card-content {
  background-color: blue;
}

mat-card-actions {
  background-color: blue;
}

a {
  color: white;
}
