mat-card {
  margin: auto;
  width: 40rem;
  background-color: blue;
  color: #eee;
}

mat-card-title {
  background-color: blue;
}

mat-card-subtitle {
  background-color: blue;
  color: #eee;
}

mat-card-content {
  background-color: blue;
}

h1 {
  font-size: 32px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
